/* 4px 8px 16px 24px 32px 48px 64px 128px 256px */
/* 
font-family: 'Muli', sans-serif;
font-family: 'Lora', serif;
*/


@import url('https://fonts.googleapis.com/css?family=Lora|Muli&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

p, a {
	font-family: 'Muli', sans-serif;
}

nav	{
	background-color: #CA957D;
	display: flex;
	flex-direction: row;
	justify-content: space-between; 
	align-items: center;
	padding: 24px 128px;
	margin-bottom: 64px;
}

nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

nav ul li {
	margin: 0px 16px;
}

nav ul li a {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

article {
	margin: 0px auto;
	width: 70%;
	max-width: 1300px;
}

footer {
	background-color: #933144;
	text-align: center;
}




div > h1 {
	text-decoration: underline;
	margin-left: 20%;
}

.text {
	display: grid;
	grid-template-columns: 1fr 1fr; 
	grid-gap: 20px;
}

img {
	height: 100%;
	width: 100%;
}



.VanligText {
	margin-right: 30%;
	margin-left: 15%;
}